div {
  box-sizing: border-box;
}

.wrap {
  display: flex;
}

.wrap > * {
  margin-right: 50px;
}

.p {
  max-width: 300px;
  font-family: serif;
}

.p img {
  width: 100%;
  padding: 0;
  margin: 0;
}

.pBar {
  border: 3px solid #FFF;
  border-top: none;
  color: #FEFEFE;
  font-family: 'NotoSansCJKtc';
  background: #313131;
  font-size: 18px;
}

.pBarPos {
  text-align: right;
  padding-right: 10px;
  transition: all 3s ease-in-out;
}

.p:nth-child(1) {
  background: #0F2643;
}

.p:nth-child(1) .pBarPos {
  background: #5394CE;
}

.p:nth-child(1) .pBar {
  border-color: #0F2643;
}

.p:nth-child(2) {
  background: #05444F;
}

.p:nth-child(2) .pBarPos {
  background: #8DC21E;
}

.p:nth-child(2) .pBar {
  border-color: #05444F;
}

.p:nth-child(3) {
  background: #8D1A00;
}

.p:nth-child(3) .pBarPos {
  background: #EE795E;
}

.p:nth-child(3) .pBar {
  border-color: #8D1A00;
}

.t4 {
  max-width: 100px;
  display: inline-block;
}

.t4 img {
  width: 100%;
}

.info {
  background: #363636;
  color: #FEFEFE;
  border-radius: 0 0 10px 10px;
  margin-top: -10px;
  text-align: center;
  line-height: 24px;
  font-size: 16px;
}